.change-quote-block {
  border: 2px solid lightgray;
  border-top: none;
  border-radius: 2px;
  padding: 0 10px;
  margin-bottom: 50px;
  background: whitesmoke;
  display: flex;
  position: relative;
  input {
    margin-bottom: 15px;
    padding: 5px;
  }

  select {
    margin-bottom: 15px;
    padding: 5px;
  }

  textarea {
    margin-bottom: 15px;
    padding: 5px;
  }

  .label {
    margin: 5px 0;
  }
}

.change-quote-form {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  flex-grow: 5;

  .submit-btn {
    align-self: center;
    padding: 5px 20px;
    background: lightcyan;
    border: 2px solid gainsboro;
    margin-top: 30px;

    &:hover {
      border-color: lightblue;
    }

    &:active {
      background: lightblue;
    }
  }
}