.quotes-block {
    border: 2px solid lightgray;
    border-top: none;
    border-radius: 2px;
    padding: 0 10px;
    padding-right: 0;
    flex-grow: 10;
    margin-bottom: 50px;
    background: whitesmoke;
    display: flex;
}

.quotes-block h4 {
    text-align: center;
    margin-bottom: 0;
}

.quotes-wrapper {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.quotes-content{
    flex-grow: 10;
    margin-bottom: 30px;
}
