.App{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p{
    margin: 7px 0;
}
ul{
    margin-top: 0;
}
*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9cc7e7;
}

::-webkit-scrollbar-thumb:hover {
    background: #4860a7;
}
